Develop a Web Application using Node Red Service/Thiyanesh_S_Node-RED flows.json
[{"id":"b45c874c3af1b04b","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"57fd9d8b777badb3","type":"ibmiot in","z":"b45c874c3af1b04b","authentication":"apiKey","apiKey":"bbed69819c1632a3","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"sthiyanesh","applicationId":"","deviceType":"sthiyanesh","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":720,"wires":[["15ec86bec0125e3b","ecdd205cfbc2df9c","5154bfb3424c5d86","863bfe13027e7599","629c95fc7a5a22d7","69765d3671d7b1ef","4a49724100dadc24","d8b9297f2a54d4b7","66f3f6a62be2f4da","8495753e5fc08fbd","d358603ab5324718"]]},{"id":"15ec86bec0125e3b","type":"debug","z":"b45c874c3af1b04b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":380,"wires":[]},{"id":"1209484c2376c15f","type":"ui_gauge","z":"b45c874c3af1b04b","name":"","group":"a2120efe8e5ec939","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor1 Reading","label":"%","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":630,"y":440,"wires":[]},{"id":"ecdd205cfbc2df9c","type":"function","z":"b45c874c3af1b04b","name":"Sensor1 Data","func":"msg.payload=msg.payload.SensorData.Sensor1\nglobal.set(\"Sensor1\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":440,"wires":[["1209484c2376c15f"]]},{"id":"b55ed190590cc59c","type":"ui_gauge","z":"b45c874c3af1b04b","name":"","group":"a2120efe8e5ec939","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor 2 Reading","label":"%","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":630,"y":500,"wires":[]},{"id":"5154bfb3424c5d86","type":"function","z":"b45c874c3af1b04b","name":"Sensor2 Data","func":"msg.payload=msg.payload.SensorData.Sensor2\nglobal.set(\"Sensor2\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":500,"wires":[["b55ed190590cc59c"]]},{"id":"33650e287c1dfe93","type":"ui_gauge","z":"b45c874c3af1b04b","name":"","group":"a2120efe8e5ec939","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor 3 Reading","label":"%","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":630,"y":560,"wires":[]},{"id":"863bfe13027e7599","type":"function","z":"b45c874c3af1b04b","name":"Sensor3 Data","func":"msg.payload=msg.payload.SensorData.Sensor3\nglobal.set(\"Sensor3\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":560,"wires":[["33650e287c1dfe93"]]},{"id":"1f066cb77817d4ad","type":"ui_gauge","z":"b45c874c3af1b04b","name":"","group":"a2120efe8e5ec939","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor 4 Reading","label":"%","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":630,"y":620,"wires":[]},{"id":"629c95fc7a5a22d7","type":"function","z":"b45c874c3af1b04b","name":"Sensor4 Data","func":"msg.payload=msg.payload.SensorData.Sensor4\nglobal.set(\"Sensor4\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":620,"wires":[["1f066cb77817d4ad"]]},{"id":"4ab907ae7f45e318","type":"ui_gauge","z":"b45c874c3af1b04b","name":"","group":"a2120efe8e5ec939","order":0,"width":0,"height":0,"gtype":"gage","title":"Sensor 5 Reading","label":"%","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":630,"y":680,"wires":[]},{"id":"69765d3671d7b1ef","type":"function","z":"b45c874c3af1b04b","name":"Sensor5 Data","func":"msg.payload=msg.payload.SensorData.Sensor5\nglobal.set(\"Sensor5\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":680,"wires":[["4ab907ae7f45e318"]]},{"id":"965e41305de6a5d5","type":"ui_switch","z":"b45c874c3af1b04b","name":"","label":"Valve 1","tooltip":"","group":"f29a9ad8ae7eb1b7","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":" { \"Valve\": 1, \"State\": \"Opened\" }","onvalueType":"json","onicon":"","oncolor":"","offvalue":" { \"Valve\": 1, \"State\": \"Closed\" }","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":600,"y":760,"wires":[["7852f4f098bfc528"]]},{"id":"7852f4f098bfc528","type":"ibmiot out","z":"b45c874c3af1b04b","authentication":"apiKey","apiKey":"bbed69819c1632a3","outputType":"cmd","deviceId":"sthiyanesh","deviceType":"sthiyanesh","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":840,"y":880,"wires":[]},{"id":"4113f7d19686b57c","type":"ui_switch","z":"b45c874c3af1b04b","name":"","label":"Valve 2","tooltip":"","group":"f29a9ad8ae7eb1b7","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":" { \"Valve\": 2, \"State\": \"Opened\" }","onvalueType":"json","onicon":"","oncolor":"","offvalue":" { \"Valve\": 2, \"State\": \"Closed\" }","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":600,"y":820,"wires":[["7852f4f098bfc528"]]},{"id":"d8830e99b4428b49","type":"ui_switch","z":"b45c874c3af1b04b","name":"","label":"Valve 3","tooltip":"","group":"f29a9ad8ae7eb1b7","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":" { \"Valve\": 3, \"State\": \"Opened\" }","onvalueType":"json","onicon":"","oncolor":"","offvalue":" { \"Valve\": 3, \"State\": \"Closed\" }","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":600,"y":880,"wires":[["7852f4f098bfc528"]]},{"id":"a3ebfe6d556afb39","type":"ui_switch","z":"b45c874c3af1b04b","name":"","label":"Valve 4","tooltip":"","group":"f29a9ad8ae7eb1b7","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":" { \"Valve\": 4, \"State\": \"Opened\" }","onvalueType":"json","onicon":"","oncolor":"","offvalue":" { \"Valve\": 4, \"State\": \"Closed\" }","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":600,"y":940,"wires":[["7852f4f098bfc528"]]},{"id":"20a17d56eeb09a60","type":"ui_switch","z":"b45c874c3af1b04b","name":"","label":"Valve 5","tooltip":"","group":"f29a9ad8ae7eb1b7","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","topicType":"msg","style":"","onvalue":" { \"Valve\": 5, \"State\": \"Opened\" }","onvalueType":"json","onicon":"","oncolor":"","offvalue":" { \"Valve\": 5, \"State\": \"Closed\" }","offvalueType":"json","officon":"","offcolor":"","animate":false,"className":"","x":600,"y":1000,"wires":[["7852f4f098bfc528"]]},{"id":"1e40a6792e2446a9","type":"http response","z":"b45c874c3af1b04b","name":"","statusCode":"","headers":{},"x":830,"y":1220,"wires":[]},{"id":"6865697ca8c57924","type":"function","z":"b45c874c3af1b04b","name":"","func":"msg.payload = { \"Sensor1\":+global.get(\"Sensor1\"),\n                \"Sensor2\":+global.get(\"Sensor2\"),\n                \"Sensor3\":+global.get(\"Sensor3\"),\n                \"Sensor4\":+global.get(\"Sensor4\"),\n                \"Sensor5\":+global.get(\"Sensor5\"),\n                \"Valve1\":\"\"+global.get(\"Valve1\"),\n                \"Valve2\":\"\"+global.get(\"Valve2\"),\n                \"Valve3\":\"\"+global.get(\"Valve3\"),\n                \"Valve4\":\"\"+global.get(\"Valve4\"),\n                \"Valve5\":\"\"+global.get(\"Valve5\")\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1220,"wires":[["1e40a6792e2446a9","77cc2fd6e26426a0"]]},{"id":"76530d835565923c","type":"http in","z":"b45c874c3af1b04b","name":"Sensor and valves Data","url":"/sensorData","method":"get","upload":false,"swaggerDoc":"","x":440,"y":1220,"wires":[["6865697ca8c57924"]]},{"id":"d73447160dcc5689","type":"http in","z":"b45c874c3af1b04b","name":"","url":"/valve","method":"get","upload":false,"swaggerDoc":"","x":400,"y":1080,"wires":[["59c34b4dc69ca52b"]]},{"id":"e44bf6212239d80a","type":"http response","z":"b45c874c3af1b04b","name":"","statusCode":"","headers":{},"x":830,"y":1080,"wires":[]},{"id":"762299802e5ae472","type":"debug","z":"b45c874c3af1b04b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1140,"wires":[]},{"id":"8ee6cb8fc612b86a","type":"ui_text_input","z":"b45c874c3af1b04b","name":"","label":"Username","tooltip":"","group":"230eaa519384cf01","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":250,"y":140,"wires":[["4fcd9e560df2fd7a"]]},{"id":"3bcf6171ee630bdc","type":"ui_text_input","z":"b45c874c3af1b04b","name":"","label":"Password","tooltip":"","group":"230eaa519384cf01","order":2,"width":0,"height":0,"passthru":true,"mode":"password","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":240,"y":200,"wires":[["026fce28c5b23b99"]]},{"id":"4fcd9e560df2fd7a","type":"function","z":"b45c874c3af1b04b","name":"Store Username","func":"global.set(\"Username\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":140,"wires":[[]]},{"id":"026fce28c5b23b99","type":"function","z":"b45c874c3af1b04b","name":"Store Password","func":"global.set(\"Password\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[[]]},{"id":"26150e4c7d28f968","type":"ui_button","z":"b45c874c3af1b04b","name":"","group":"230eaa519384cf01","order":3,"width":0,"height":0,"passthru":false,"label":"Login","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Home","payloadType":"str","topic":"topic","topicType":"msg","x":70,"y":260,"wires":[["df6d71decdcd54c6"]]},{"id":"a0d76e68c7858fab","type":"ui_ui_control","z":"b45c874c3af1b04b","name":"","events":"all","x":880,"y":260,"wires":[[]]},{"id":"9f2f7a165709f00a","type":"ui_ui_control","z":"b45c874c3af1b04b","name":"","events":"all","x":1120,"y":480,"wires":[[]]},{"id":"2f939ce7ae0a58ef","type":"ui_button","z":"b45c874c3af1b04b","name":"","group":"e2ea71f8f49c6f0c","order":0,"width":0,"height":0,"passthru":false,"label":"View Gas Reading","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Gas Reading","payloadType":"str","topic":"topic","topicType":"msg","x":910,"y":480,"wires":[["9f2f7a165709f00a"]]},{"id":"7138d56b755e0aee","type":"ui_button","z":"b45c874c3af1b04b","name":"","group":"e2ea71f8f49c6f0c","order":3,"width":0,"height":0,"passthru":false,"label":"View Valve Control","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"Valve Control","payloadType":"str","topic":"topic","topicType":"msg","x":910,"y":540,"wires":[["04baabe8f49f1b7e"]]},{"id":"04baabe8f49f1b7e","type":"ui_ui_control","z":"b45c874c3af1b04b","name":"","events":"all","x":1120,"y":540,"wires":[[]]},{"id":"4a49724100dadc24","type":"function","z":"b45c874c3af1b04b","name":"Valve1 Data","func":"global.set(\"Valve1\",msg.payload.ValveData.Valve1.State)\nmsg.payload=msg.payload.ValveData.Valve1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":760,"wires":[["965e41305de6a5d5"]]},{"id":"d8b9297f2a54d4b7","type":"function","z":"b45c874c3af1b04b","name":"Valve2 Data","func":"global.set(\"Valve2\",msg.payload.ValveData.Valve2.State)\nmsg.payload=msg.payload.ValveData.Valve2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":820,"wires":[["4113f7d19686b57c"]]},{"id":"66f3f6a62be2f4da","type":"function","z":"b45c874c3af1b04b","name":"Valve3 Data","func":"global.set(\"Valve3\",msg.payload.ValveData.Valve3.State)\nmsg.payload=msg.payload.ValveData.Valve3\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":880,"wires":[["d8830e99b4428b49"]]},{"id":"8495753e5fc08fbd","type":"function","z":"b45c874c3af1b04b","name":"Valve4 Data","func":"global.set(\"Valve4\",msg.payload.ValveData.Valve4.State)\nmsg.payload=msg.payload.ValveData.Valve4\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":940,"wires":[["a3ebfe6d556afb39"]]},{"id":"d358603ab5324718","type":"function","z":"b45c874c3af1b04b","name":"Valve5 Data","func":"global.set(\"Valve5\",msg.payload.ValveData.Valve5.State)\nmsg.payload=msg.payload.ValveData.Valve5\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":1000,"wires":[["20a17d56eeb09a60"]]},{"id":"df6d71decdcd54c6","type":"function","z":"b45c874c3af1b04b","name":"Get Username and Password","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":260,"wires":[["28c2c8bb22a13789"]]},{"id":"28c2c8bb22a13789","type":"cloudant in","z":"b45c874c3af1b04b","name":"Validate User","cloudant":"c4e13a43.b53158","database":"user_credential","service":"_ext_","search":"_id_","design":"","index":"","x":490,"y":260,"wires":[["ae96cd6e50ca057f"]]},{"id":"ae96cd6e50ca057f","type":"function","z":"b45c874c3af1b04b","name":"Choose the redirect page","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":260,"wires":[[]]},{"id":"59c34b4dc69ca52b","type":"function","z":"b45c874c3af1b04b","name":"","func":"msg.payload = { \"Valve\": msg.payload.Valve, \"State\": msg.payload.State }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":1080,"wires":[["e44bf6212239d80a","7852f4f098bfc528","762299802e5ae472"]]},{"id":"77cc2fd6e26426a0","type":"debug","z":"b45c874c3af1b04b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":1280,"wires":[]},{"id":"272913687bcad832","type":"http in","z":"b45c874c3af1b04b","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":400,"y":1380,"wires":[["cf5c76deee3f237e"]]},{"id":"cf5c76deee3f237e","type":"function","z":"b45c874c3af1b04b","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":1380,"wires":[["c85d7d16c20cf8da"]]},{"id":"c85d7d16c20cf8da","type":"cloudant in","z":"b45c874c3af1b04b","name":"","cloudant":"7c7b0d79b204d25b","database":"user_credential","service":"_ext_","search":"_id_","design":"","index":"","x":700,"y":1380,"wires":[["bf4c3fe48f6ae606"]]},{"id":"bf4c3fe48f6ae606","type":"function","z":"b45c874c3af1b04b","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":1380,"wires":[["e9de7936fe90558f","5d0afe99dd9359ce"]]},{"id":"e9de7936fe90558f","type":"http response","z":"b45c874c3af1b04b","name":"","statusCode":"","headers":{},"x":1010,"y":1380,"wires":[]},{"id":"5d0afe99dd9359ce","type":"debug","z":"b45c874c3af1b04b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":1440,"wires":[]},{"id":"bbed69819c1632a3","type":"ibmiot","name":"Weather_Monitor","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"a2120efe8e5ec939","type":"ui_group","name":"Gas Sensor Values","tab":"8cb64dd17743dba2","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"f29a9ad8ae7eb1b7","type":"ui_group","name":"Valves","tab":"df8f5be14406f0fa","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"230eaa519384cf01","type":"ui_group","name":"Hello, User","tab":"170ed90f90301f75","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"e2ea71f8f49c6f0c","type":"ui_group","name":"Welcome, User","tab":"0948fc4f8f8666f8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c4e13a43.b53158","type":"cloudant","host":"2e8ac18e-55eb-4581-95ba-f23e7b9b4038-bluemix.cloudant.com","name":""},{"id":"7c7b0d79b204d25b","type":"cloudant","host":"7cea4d92-7d93-44d4-a221-794b16b8a9ff-bluemix.cloudantnosqldb.appdomain.cloud","name":"Key 1"},{"id":"8cb64dd17743dba2","type":"ui_tab","name":"Gas Reading","icon":"dashboard","order":3,"disabled":false,"hidden":true},{"id":"df8f5be14406f0fa","type":"ui_tab","name":"Valve Control","icon":"dashboard","order":4,"disabled":false,"hidden":true},{"id":"170ed90f90301f75","type":"ui_tab","name":"Login","icon":"dashboard","order":1,"disabled":false,"hidden":true},{"id":"0948fc4f8f8666f8","type":"ui_tab","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":true}]